  
  body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .subscribe-button {
    background-color: #4CAF50;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .subscribe-button:hover {
    background-color: #45a049;
  }
  header {
    margin-top: 20px;
  }
  